@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  color: rgb(53, 53, 53);
}

.task-container {
  margin: 24px;
  padding: 24px;
}

.todo-list {
  background-color: white;
  margin: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ffc15e;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 30px;
  width: auto;
  font-size: 1.2rem;
  color: #333333;
}

.todo-item button {
  border: 1px solid rgb(149, 149, 149);
  color: rgb(149, 149, 149);
  background: none;
  padding: 12px 24px;
  border-radius: 12px;
  margin-left: auto;
}

.todo-item p.completed {
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin-right: 10px;
  font-size: 30px;
}

input[type="checkbox"]:focus {
  outline: 0;
}

.input-container {
  margin: 24px 0;
}

.input-container input,
.input-container button {
  border: 1px solid #ffc15e;
  padding: 12px 24px;
  border-radius: 12px;
}

.input-container button {
  background-color: #ffc15e;
  color: #333333;
}

.input-container input {
  margin-right: 12px;
}

.input-container input:focus {
  outline-width: 0;
}

button {
  cursor: pointer;
}

@media (max-width: 480px) {
  body {
    color: red;
  }

  .task-container {
    margin: 12px;
    padding: 12px;
  }

  .todo-item {
    padding: 14px 0px;
    font-size: 1rem;
  }

  .input-container input,
  .input-container button,
  .todo-item button {
    padding: 8px 18px;
    border-radius: 6px;
  }

  .input-container input {
    margin-right: 10px;
  }
}
